{{> header title="Загрузить логи"}}
<body>
    {{> navbar isUploadPage=true}}
    <form class="m-3">
        <h1>Загрузить лог</h1>
        <p><label for="logName">Название лога:</label><input class="ml-2" type="text" id="logName" /></p>
        <input type="file" id="file" onchange="upload(this)">
    </form>
    <div id="example-table" style="font-size: 12px;"></div>
    <script src="/js/upload-logic.js"></script>
</body>
</html>