{{> header title="Локальный просмотр"}}
<body>
  {{> navbar islocalView=true}}

  {{> tableControls isUpdateble=true}}
  <div id="example-table" style="font-size: 12px;"></div>
  <script src="/js/txt2log.js"></script>
  <script src="/js/table-logic.js"></script>
  <script src="/js/view-logic.js"></script>
</body>
</html>